Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@KarlitosTaquitos 
220131-mehrab
/
p2-rickrolls
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
p2-rickrolls/backend/.dockerignore
@KarlitosTaquitos
KarlitosTaquitos Dockerization of database and backend
Latest commit 85d0828 14 days ago
 History
 1 contributor
28 lines (28 sloc)  336 Bytes
   
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
.gradle/
bin/
build/
gradle/
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete